body{
    background-image:url('https://airbus-h.assetsadobe2.com/is/image/content/dam/corporate-topics/innovation/Innovation-future-technology-advanced-analytics.jpg?wid=1920&fit=fit,1&qlt=85,0');
    background-size: auto 100vh;
    font-family: Verdana;
    height: 100vh;
    }
  
  .menu{
    background-color: white;
  }
  
  a{
    color:tomato;
    text-decoration:none;
  }
  
  a:hover{
    text-decoration: underline;
    }
  
  .menu ul{
    display: flex;
    justify-content:space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  .site-subtitle,
  .site-title{
    color:whitesmoke;
    text-align: center;
  }
  
  .site-subtitle{
    font-style:italic; 
  }
  